.sold-out-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8); /* Red background with 80% opacity */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }